<!-- Template para mostrar el formulario de creacion de mazos.
  Unicamente necesita la variable "form", que es una instancia del formulario NuevoMazo().
-->
{% extends "base_with_navbar.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block title %}
Crear Mazo
{% endblock %}

{% block content %}
<h1 class="text-center"> Crear Mazo </h1>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-6">
        {{ render_form(form)}}
    </div>
  </div>
{% endblock %}