<!-- Template con el formulario para unirse a una liga.
    Recibe un objeto Liga "liga" al que se quiere unir, y un formulario "form"
    (para introducir la contraseña) -->

{% extends "base_with_navbar.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block content %}
 <h2 class="text-center"> Registro en la Liga {{ liga.nombre }} </h2>
    <h3 class="text-center my-4"> Id de la liga: {{ liga.id }} </h3>
    <div class="container">
        <div class="row">
            <div class="col-6 mt-3">
                {{ render_form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
