<!-- Template para mostrar el formulario de creacion de un quiz.
  Unicamente necesita la variable "form", que es una instancia del formulario
  de acceso.
-->
{% extends "base_with_navbar.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block title %}
Acceder
{% endblock %}


{% block content %}
<h1 class="text-center mb-4"> ¡Crea tu propio Quiz! </h1>

<div class="container-fluid">
  <!-- justify-content-center: muestra el contenido de la fila centrado -->
  <div class="row justify-content-center">
    <div class="col-6">
    {{ render_form(form) }}
    </div>
  </div>
</div>
{% endblock %}
